{% extends 'base.html' %}

{% block content %}

<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo"><strong>Portal</strong> RH</a>
				<ul class="icons">
					<li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
				</ul>
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h1>Vagas Disponíveis<br />

					</header>

				</div>

			</section>
			<!-- Section -->
			<section>
				<div class="posts">
					{% for vaga in vagas %}
					<article>
						<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
						<h3>{{vaga.titulo}}</h3>
						<p>{{vaga.descricao}}</p>
						<p>{{vaga.localizacao}} - Salário: {{vaga.salario}}</p>

						<ul class="actions">
							<li><a href="{% url 'vaga_detalhe' vaga.id %}" class="button">Ver Mais</a></li>
						</ul>
					</article>
					{% endfor %}

				</div>
			</section>

		</div>
	</div>


	{% endblock %}