{% extends 'base.html' %}

{% block content %}

<div id="wrapper">

	<!-- Main -->
	<div id="main" >
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="" class="logo"><strong>Portal</strong> RH</a>
				<ul class="icons">
					<li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
				</ul>
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h1>{{ position.title }}<br />

					</header>

				</div>

			</section>
			<!-- Section -->
			<section>
				<div class="posts">
					<article>
						
						
						<p>{{ position.description }}</p>
						<p>{{ position.location }} - Salário: {{ position.salary }}</p>

						<br><br>
						<a href="#" class="image"><img src={{movie.Poster}} alt="" /></a>
						<p>Um filme relacionado: </p>
						<p>Titulo: {{ movie.Title }}</p>
						<p>Ano: {{ movie.Year }}</p>
						<p>Duração: {{ movie.Runtime }}</p>
						<p>Genero: {{ movie.Genre }}</p>
						
						<ul class="actions">
							<li><a href="mailto:{{position.email_contact}}" class="button">Candidatar via E-mail</a></li>
							<li><a href="{% url 'home_positions' %}" class="button">Voltar</a></li>
						</ul>
					</article>


				</div>
			</section>

		</div>
	</div>


	{% endblock %}


