{% extends "account/base.html" %}
{% load static %}
{% block content %}

<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="" class="logo"><strong>Portal</strong> RH</a>
				<ul class="icons">
					<li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
				</ul>
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h1>Cadastrar Vagas<br />

					</header>

				</div>

			</section>
			<!-- Section -->
			<section>

				<div class="gtr-uniform">
					<h3>Formulário</h3>

					<form method="post" action="{% url 'save_position' %}">
						{% csrf_token %}
						<div class="row gtr-uniform">
							<div class="col-6 col-12-small">
								<input type="text" name="demo-title" id="demo-title" value="" placeholder="Título" />
							</div>
							<div class="col-6 col-12-small">
								<input type="text" name="demo-name_company" id="demo-name_company" value=""
									placeholder="Empresa" />
							</div>
							<div class="col-12">
								<textarea name="demo-description" id="demo-description"
									placeholder="Faça uma descrição sobre a vaga." rows="6"></textarea>
							</div>
							<div class="col-6 col-12-small">
								<input type="text" name="demo-location" id="demo-location" value=""
									placeholder="Local" />
							</div>
							<div class="col-6 col-12-small">
								<input type="text" name="demo-salary" id="demo-salary" value="" placeholder="Salário" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="email" name="demo-email_contact" id="demo-email_contact" value=""
									placeholder="Email para contato" />
							</div>


							<div class="col-6 col-12-small">
								<input type="checkbox" id="demo-human" name="demo-human" checked>
								<label for="demo-human">Eu sou um humano</label>
							</div>

							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="Cadastrar" class="primary" /></li>
									<li><input type="reset" value="reset" /></li>
								</ul>
							</div>
						</div>
					</form>

				</div>
			</section>

		</div>
	</div>



</div>


{% endblock %}