{% extends 'base.html' %}

{% block content %}

<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="" class="logo"><strong>Portal</strong> RH</a>
				<ul class="icons">
					<li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
				</ul>
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h1>Cadastrar Currículo<br />

					</header>

				</div>

			</section>
			<!-- Section -->
			<section>

				<div class="gtr-uniform">
					<h3>Formulário</h3>

					<form method="post" action="{% url 'save_resumo' %}">
						{% csrf_token %}
						<div class="row gtr-uniform">
							<div class="col-6 col-12-small">
								<input type="text" name="demo-name" id="demo-name" value="" placeholder="Nome" />
							</div>
							<div class="col-6 col-12-small">
								<input type="text" name="demo-surname" id="demo-surname" value=""
									placeholder="Sobrenome" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
							</div>


							<div class="col-6 col-12-xsmall">
								<input type="tel" name="demo-phone" id="demo-phone" value=""
									placeholder="(99) 9999 9999" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="text" name="demo-github" id="demo-github" value=""
									placeholder="Link do GitHub" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="text" name="demo-linkedin" id="demo-linkedin" value=""
									placeholder="Link do linkedin" />
							</div>

							<div class="col-12">
								<textarea name="demo-description" id="demo-description"
									placeholder="Faça uma descrição (resumo) sobre você" rows="6"></textarea>
							</div>
							<div class="col-12">
								<textarea name="demo-experience" id="demo-experience"
									placeholder="Faça uma descrição das suas experiências" rows="6"></textarea>
							</div>
							<div class="col-12">
								<textarea name="demo-formations" id="demo-formations"
									placeholder="Faça uma descrição das suas formações" rows="6"></textarea>
							</div>
							<div class="col-12">
								<textarea name="demo-skills" id="demo-skills"
									placeholder="Faça uma descrição das suas habilidades" rows="6"></textarea>
							</div>


							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="Cadastrar" class="primary" /></li>
									<li><input type="submit" value="Já tenho cadastro" /></li>
								</ul>
							</div>
						</div>
					</form>

				</div>
			</section>

		</div>
	</div>
</div>



{% endblock %}