{% extends "./base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div id="wrapper">

	<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo"><strong>Portal</strong> RH</a>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
						</ul>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="content">
							<header>
								<h1>{% trans "Sign Up" %}</h1><br />
								
							</header>
							
						</div>
					
					</section>

  <section>

    <div class="gtr-uniform">
        

      <p>Already have an account?  Then please <a href="{{ login_url }}">sign in</a>.</p>

        <form id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <div class="row gtr-uniform">
            
              {{ form.as_p }}
            
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="col-12">
              <ul class="actions">
                  <button type="submit">{% trans "Sign Up" %} </button>
                </ul>
              </div>
        </div>
        </form>
    </div>
  </section>
        </div>
      </div>
{% endblock %}
